﻿@using Website.Models
@model dynamic

@{
    ViewBag.Title = "Loan";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Loans</title>
</head>
<body>
    <div>
        <h2>Registered loans</h2>
        @if (Model is IEnumerable<VmLoan>)
        {
            var loans = (IEnumerable<VmLoan>)Model;
            <table class="table">
                <tr>
                    @*<th hidden>@Html.DisplayNameFor(model => loans.First().Id)</th>*@
                    <th>@Html.DisplayNameFor(model => loans.First().LoanedCopy.VmBook.Title)</th>
                    <th>@Html.DisplayNameFor(model => loans.First().LoanedCopy.Id)</th>
                    <th>@Html.DisplayNameFor(model => loans.First().CreationDateTime)</th>
                    <th>@Html.DisplayNameFor(model => loans.First().EndDateTime)</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in loans)
                {
                    if (item.LoanDone != true)
                    {
                        <tr>
                            @*<td hidden>@Html.DisplayFor(modelItem => item.Id)</td>*@
                            <td>@Html.DisplayFor(modelItem => item.LoanedCopy.VmBook.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.LoanedCopy.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreationDateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.EndDateTime)</td>
                            <td>@Html.ActionLink("End Loan", "End", new { loanNumber = item.Id })</td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <p>None found.</p>
        }
    </div>
</body>
</html>