﻿@model Website.Models.VmBook

@{
    ViewBag.Title = "Book details";
    //Layout = "_Layout";
}

<h2>Book details</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <td>@Html.DisplayFor(model => model.Title)</td>
        <th>@Html.DisplayNameFor(model => model.Isbn)</th>
        <td>@Html.DisplayFor(model => model.Isbn)</td>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <td>@Html.DisplayFor(model => model.Author)</td>
        <th>@Html.DisplayNameFor(model=> model.CopyCount)</th>
        <td>@Html.DisplayFor(model=> model.CopyCount)</td>
    </tr>
</table>

<h3>Available Copies</h3>
@if (Model?.Copies != null)
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Copies.First().Id)</th>
            @*<th>@Html.DisplayNameFor(model => model.Copies.First())</th>*@
            <th><p>Actions</p></th>
        </tr>
        @foreach (var item in Model.Copies)
        {
            if (!item.IsLoaned)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    @*<td><p>Do stuff with this copy!</p></td>*@
                    <td><p>@Html.ActionLink("Loan it!", "Create", "Loan", new { copyId = item.Id }, null)</p></td>
                    @*<td><p>@Ajax.ActionLink("Loan it!", "Create", "Loan", new AjaxOptions { HttpMethod = "POST" })</p></td>*@
                </tr>
            }
        }
    </table>

}
else
{
    <p>None available</p>
}
