﻿@model IEnumerable<Website.Models.VmBook>

@{
    ViewBag.Title = "View";
}
<div>
    <h2>Books</h2>

    <form method="get" action="@Url.Action("Index", "Book")">
        <label>Search</label>
        @Html.TextBox("searchTitle")
    </form>
</div>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div id="tableWrap">
    <table id="table" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>
                    @Html.DisplayNameFor(model => model.CopyCountPretty)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isbn)
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.Author)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CopyCountPretty)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.Isbn10 }) |*@
                            @Html.ActionLink("Details", "Details", new { isbn = item.Isbn })
                            @*@Html.ActionLink("Delete", "Details", new { id=item.Isbn10 })*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<script>
        var myData = "";

        $("#searchString").submit(function(event) {
            alert($("#searchValue").value());
            event.preventDefault();
        });

        $("#searchButton").click(function () {
            search($("#searchValue").val());
        });

        function search(searchString) {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '/Book/Index',
                data: '{"searchTitle":' + searchString + ' }',
                async: false,
                success: function (response) {
                    myData = response;
                    $(function () {
                        $('#table').bootstrapTable({
                            data: myData
                        });
                    });
                },
                error: function () { alert("error"); }
            });
            return false;
        }
    </script>*@
